<!DOCTYPE html>
{%  extends 'base.html' %}
{% load static %}

{% block content %}

<div class="container" style="margin-top:150px;">
  <form method="POST" enctype="multipart/form-data">
      {% csrf_token %}
      <div class="mb-3">
        <label class="form-label text-light">Phone Number:</label>
        <input type="number" class="form-control" id="name" name="phonenumber">

      </div>

      <div class="mb-3">
        <label  class="form-label text-light">address:</label>
        <input type="text" class="form-control"  name="address">
      </div>
      <div class="mb-3">
        <label class="form-label text-light">Account Number:</label>
        <input type="number" class="form-control"  name="accountnumber">
      </div>
      <center>
          <button type="submit" class="btn btn-primary">Submit</button>
      </center>
  </form>
</div>

{% endblock %}
